h1
{
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-bottom: 0
}
.p
{
  margin-top: 0
  margin-left:10

}
.intro{

float: right;
display: inline-block;
margin-left: 0;
position: relative;
right :20px;
line-height:200%;
font-family: 'Montserrat', sans-serif;
text-align: center;
.intoimage{

  float: left;
  margin-right: 0;


}
